# Case Study on Testing of Hypothesis

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

import scipy.stats as stat
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('Sales_add.csv')

In [3]:
data.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [4]:
data.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

In [5]:
#for checking the null values
data.isna().sum()

Month                             0
Region                            0
Manager                           0
Sales_before_digital_add(in $)    0
Sales_After_digital_add(in $)     0
dtype: int64

In [6]:
data.shape
#if less than 30 then we can use t test

(22, 5)

# The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.

In [7]:
before_add = data['Sales_before_digital_add(in $)']
after_add = data['Sales_After_digital_add(in $)']

In [8]:
before_add_mean = round(np.mean(before_add),2)
after_add_mean = round(np.mean(after_add),2)
print('Mean of sales before Digital Marketing =', before_add_mean)
print('Mean of sales after Digital Marketing = ', after_add_mean)

Mean of sales before Digital Marketing = 149239.95
Mean of sales after Digital Marketing =  231123.73

In [9]:
before_add_std = round(np.std(before_add),2)
after_add_std = round(np.std(after_add),2)
print('Standard Deviation in sales before Digital Marketing = ', before_add_std)
print('Standard Deviation in sales after Digital Marketing = ', after_add_std)

Standard Deviation in sales before Digital Marketing =  14502.75
Standard Deviation in sales after Digital Marketing =  24969.19

Hypothesis
Ho = there is increase in sales after stepping into digital marketing.
Hi = there is no increase in sales after stepping into digital marketing.

In [10]:
ttest,pval = stat.ttest_rel(data['Sales_before_digital_add(in $)'], data['Sales_After_digital_add(in $)'])
print(pval)
if pval<0.05:
    print("reject null hypothesis")
else:
    print("accept null hypothesis")

6.336667004575778e-11
reject null hypothesis

Thus we can say that the sales has increased.

# The company needs to check whether there is any dependency between the features “Region” and “Manager”.

In [11]:
crosstab = pd.crosstab(data.Region, data.Manager)
crosstab

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [12]:
pd.crosstab(data.Region, data.Manager, margins=True)

Manager     Manager - A  Manager - B  Manager - C  All
Region
Region - A            4            3            3   10
Region - B            4            1            2    7
Region - C            1            3            1    5
All                   9            7            6   22

Ho= there is dependency between the features “Region” and “Manager”
Hi= there is no dependency between the features “Region” and “Manager”

In [13]:
Xtest_statistic, p_value, dof, exp_value = stat.chi2_contingency(crosstab)
print('Chi-square test statistic is ', Xtest_statistic)
print('p-value is ', p_value)
print('Degrees of freedom is  ', dof)
print('Expected values are: ', exp_value)

Chi-square test statistic is  3.050566893424036
p-value is  0.5493991051158094
Degrees of freedom is   4
Expected values are:  [[4.09090909 3.18181818 2.72727273]
 [2.86363636 2.22727273 1.90909091]
 [2.04545455 1.59090909 1.36363636]]

In [14]:
if p_value < 0.05:
    print('Reject null hypothesis')
else:
    print('Accept null hypothesis')

Accept null hypothesis

Thus we can say that there is no dependency between the features “Region” and “Manager”